%header
  .navbar
    .navbar-inner
      .container{style: "width: auto"}
        = link_to 'Protégé', root_path, class: 'brand'
        %nav
          .nav-collapse
            %ul.nav
              %li.divider-vertical
              %li= link_to 'Series', series_index_path
              %li.divider-vertical
              %li= link_to 'Courses', courses_path
              %li.divider-vertical
              %li= link_to 'Lessons', lessons_path
