.row
  .row
    .text-center
      .span8.offset2
        .video-container
          %iframe.ad-video{width: "560", height: "315", allowfullscreen: true, frameborder: "0", src: 'http://www.youtube.com/embed/LEdqn-Gtg-s'}
        %p.lead
          Some lead-in copy about what we're about, referencing the video and hooking to the features...
  .row.features
    .span4.offset1
      %h4 Something Old
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    .span4.offset2
      %h4 Something New
      %p
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    .span4.offset1
      %h4 Something Borrowed
      %p
        Maecenas sed diam eget risus varius blandit sit amet non magna.

    .span4.offset2
      %h4 Something Blue
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
