%h1 Well, hi there.
.welcome
  :markdown
    Welcome to Protégé. We are creating a simpler learning management system that trusts its users. When people _want_ to learn, we can remove much of the friction in connecting them to those who want to share their knowledge and expertise.
.series
  = render template: 'series/index'
