.hero-unit
  %h1 Well, hi there.
  %p.welcome
    :markdown
      Welcome to Protégé. We're creating a simpler learning management system based on trusting its users. When people _want_ to learn, we can remove the friction in connecting them to those wanting to share knowledge and expertise.
.series
  = render template: 'series/index'
