- if @courses.present?
  %table.table
    %tr
      %th #
      %th Title
      %th Description

    - @courses.each do |course|
      %tr
        %td= course.number
        %td= link_to course.title, course
        %td= (strip_tags course.description).html_safe
- else
  .none_present
    -if @series.present?
      :markdown
        No courses exist yet. Be the first to [create one](#{new_course_path(series_id: @series.id)})...