@import "vars";
@import "global";
@import "forms";
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-wysihtml5";


header .container.sign-in{
  float: right;
  margin: 0px 20px;
}

.hero-unit span.or{
  margin: 0px 20px;
  font-size: 16px;
}
.hero-unit .btn{
  margin: 10px 0px 0px 0px;
}

#footer{
  margin: 10px 10px;
}