@import "vars";
@import "global";
@import "forms";
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-wysihtml5";

.hero-unit span.or{
  margin: 0px 20px;
  font-size: 16px;
}
.hero-unit .btn{
  margin: 10px 0px 0px 0px;
}

.img-border{
  padding: 1px;
  border: 1px solid #ddd;
}

img.pull-left{
  margin-right: 10px;
}

#remember input{
  margin-right: 10px;
}

.submit input[type='submit']{
  width: 206px;
}

#error_explanation h2{
  font-size: 14px;
  color: #c00;
}

ul.teams li{
 list-style-type: none;
 border-bottom: 1px solid #ddd;
 .btn-danger{
    margin-top: 20px;
 }
}

ul li.avatar{
  margin: 0px 10px 10px 10px;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

ul li.avatar-grid{
  margin: 0px 0px 10px 10px;
  list-style-type: none;
}

#footer{
  margin: 10px 10px;
}