%h2 Available Series

%table.table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @series.each do |series|
    %tr
      %td= link_to series.title, series
      %td= (strip_tags series.description).html_safe

%br

= link_to 'Create a Series', new_series_path, class: 'btn'
