%html
  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  = render 'shared/header'
  %body
    = yield
    :javascript
      $('.wysihtml5').each(function(i, elem) {
        $(elem).wysihtml5();
      });